{{!-- <div>
  <h2>title</h2>
</div>
<div><p>description</p></div>
<img src="/img/sprite.png">
<div>location</div>
{{#if user}}
<div>
  <form>
    <input name="comment" id="comment">
    <button type="submit" id="comment_button">Send comment</button>
  </form>
</div>
{{else}}
<p>Only autorized users can send comments</p>
{{/if}} --}}
