<script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=30dd1852-01b2-4516-920d-d4a56c5a3365" type="text/javascript"></script>
<script defer src="/js/getcoor.js" type="text/javascript"></script>
<hr>
<div>
  {{#if user}}
  <form action="/entry" method="POST" name="entry_post" id="entry_post" ref='uploadForm' encType="multipart/form-data">
    <input placeholder="Название чая" type="text" name="title"></input>
    <input placeholder="Описание" type="text" name="description" />
    <input placeholder="Место культивации" type="text" name="location" />
    {{!-- <input type="file" name="img" accept="image/png,image/jpeg" /> --}}
    {{!-- <input type="submit" name="submit" /> --}}
    <div><button type="submit" class="registerbtn">Добавить</button></div>
  </form>
  <div><a href="/">Вернуться на главную</a></div>
  {{/if}}
</div>
<div id="map"></div>
