<link rel="stylesheet" href="/css/style.css">
<style>
    .banner {display: none;}
  </style>
<form name = "regform" action="/user/sign" method="POST">
  <div class="container">
    <h2>Регистрация</h2>
    <p>Для регистрации укажите свои данные</p>
    <p id="succ">{{message}}</p>
    <p id="den">{{message1}}</p>
    <hr>

    {{!-- <label for="name"><b>Имя</b></label> --}}
    <input type="text" placeholder="Укажите логин" name="name" required>
    
    {{!-- <label for="email"><b>E-mail</b></label> --}}
    <input type="email" placeholder="Укажите E-mail" name="email" required>

    {{!-- <label for="psw"><b>Пароль</b></label> --}}
    <input type="password" placeholder="Укажите пароль" name="psw" required>

    <div><button type="submit" class="registerbtn">Зарегистрироваться</button></div>
  </div>
</form>
<div><a href="/">Вернуться на главную</a></div>
